body{
    background-image: url(background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  

  .bird{
    width: 200px;
    position: absolute;
    left: 20%;
    top: 10%;
    animation: birdAnim 5s infinite;
  }


  .bird img{
    width: 100%;
  }
  

  @keyframes birdAnim{
    0%{
      left: 0%;
      transform: rotate(30deg);
    }

    25%{
        left: 20%;
        top: 75%;
    }

    50%{
      left: 50%;
      top: 20%;
      transform: rotate(-20deg);
    }
    
    100%{
      left: 100%;
    }


  }


